.white-background {
    background-color: white;
    border: 1px solid lightgray;
    display: grid;
    grid-template-rows: 70px;
    align-items: center;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
}

.tipos-de-comida {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid lightgray;
    background: whitesmoke;
}
.footer-titulo{
    margin-bottom: 30px;
    color: black;
    font-size: 29px;
    margin-left: 10px;
    font-family: ebrima;
    margin-top: 10px;
}
ul > li {
    list-style: none;
}
.itens-footer {
    font-size: 18px;
    color: black;
    margin: 30px;

}
.grid-itens {
    grid-template-rows: repeat(4, min-content);
}

.grid-itens2 {
    position: relative;
    padding-top: 32px;
    font-size: 18px;
    color: black;
}
.tipos-de-comida2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid lightgray;
    background: whitesmoke;
}

.grid-itens3{
    
    font-size: 18px;
    color: black;
    margin: 30px;
}

.grid-itens-logos {
    height: 10%;
    margin: 0px;
}
.itens-logos2 {
    margin: 12px;
}

